/* Main style sheet */

body, html{
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

a{
	text-decoration: none;
}

header{
	color: white;
	text-align: center;

	background-color: #3CA0CB;
	padding-bottom: 3em;
}

div#photoBackground{
	background-image: url("../img/photo-background.jpg");
	background-position: center center;
	background-size: cover;
	
	position: relative;

	height: 300px;
	width: 100%;
}

div#phoneContainer{

	position: absolute;
	bottom: 0;

	background-image: url("../img/iphone-container.svg");
	background-size: cover;
	overflow: hidden;

	width: 175px;
	height: 264px;
	box-sizing:border-box;

	left: 50%;
	margin-left: -87px;
	padding-top: 44px;
}

div#phoneContent{
	left: 50%;
    position: absolute;

    width: 153px;
	height: 273px;
    margin-left: -77px;
}

div#phoneContent img{
	width: 100%;
	height: 100%;
}

div.phoneShade{
	background: linear-gradient(rgba(74,74,74,0), rgba(74,74,74,0.5)); 

	position: absolute;
	bottom: 0;

	height: 50px;
	width: 100%;
}

div.header-bg{
	/* background-color: #3CA0CB; */
	padding-bottom: 50px;
}

div#headerContent{
	margin: 0 2em;
	position: relative;
}

img#appIcon{
	width: 60px;
	height: 60px;
	margin-top: -30px;
}

header p{
	margin-bottom: 2em;
}

header a,
header a:visited{
	color: white;

	border: 1px solid white;
	border-radius: 3px;

	padding: 0.75em 1.5em;
	margin-bottom: 1em;
	margin-top: 1.75em;
}

header a:hover{
	color: #3CA0CB;
	background-color: white;
	text-decoration: none;
}

section#features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 3em 2em;
}

section#features article {
	width: 100%;
	text-align: center;
	margin: 1em 2em;
	color: #3CA0CB;
}

section#features p{
	color: #4A4A4A;
}

section#features article img{
	text-align: center;
	display: block;
	margin: 0 auto 1.5em;

	width: 45px;
	height: 45px;
}


footer{
	background-color: #3CA0CB;
	color:white;

	text-align: center;
	padding-top: 20px;
}

footer section{
	margin: 0 2em;
}

footer h2{
	margin-bottom: 0.8em;
}


#mc_embed_signup{
	clear:left; 
	margin-top: 1.5em;
}

#mc_embed_signup input{
	display: inline-block;
	box-sizing:border-box;
}

#mc_embed_signup input::-webkit-input-placeholder{
	color:rgba(255, 255, 255, 0.5);
}
#mc_embed_signup input:-moz-placeholder{
	color:rgba(255, 255, 255, 0.5);
}
#mc_embed_signup input::-ms-input-placeholder{
	color:rgba(255, 255, 255, 0.5);
}

#mc_embed_signup input.subscribeemail,
#mc_embed_signup input.subscribebutton{
	font:14px 'Montserrat', sans-serif;

	display: inline-block;
	clear: none;

	color: #FFFFFF;
	background-color: #3CA0CB;

	border: 1px solid white;
	border-radius: 3px;

	padding: 0.75em 1em;
	margin-bottom: 1em;
	
}

#mc_embed_signup input.subscribeemail{
	width: 62%;
}

#mc_embed_signup input.subscribebutton{
	padding: 0.75em 0em;
	width: 35%;
}

#mc_embed_signup input.subscribebutton:hover{
	color: #3CA0CB;
	background-color: #FFFFFF;
}


footer .links{
	padding: 1em 0em;
	margin-top: 1.25em;
	border-top: 1px rgba(255, 255, 255, 0.5) solid;
	color: rgba(255, 255, 255, 0.5);
}

footer .links a,
footer .links a:visited{
	color: rgba(255, 255, 255, 0.5);
	margin: 0 1em;
}

footer .links a:hover{
	color: rgba(255, 255, 255, 1);
}


h1{font-size: 1em; margin: 1em 0 0.8em 0;}
h2{font-size: 1.5em; margin-top: 1.25em;}
h3{font-size: 1.3em;}
p{font-size: 0.9em; line-height: 1.8em; margin: 1em 0em;}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* --------------------------  Small devices (tablets, 768px and up)  -------------------------- */
@media (min-width: 750px) { 
	
	div#photoBackground{
		height: 400px;
	}

	div#phoneContainer{
		width: 200px;
		height: 320px;
		margin-left: -100px;

		padding-top: 50px;
	}

	div#phoneContent{
		width: 175px;
		height: 313px;
		margin-left: -87px;
	}

	header #headerContent{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}

	img#appIcon{
		width: 75px;
		height: 75px;
		margin-top: -37px;
	}

	div.phone-shade{
		height: 60px;
	}

	section#features article{
		margin-top: 1.5em;
		margin-bottom: 1.5em;

		flex: 1 0 40%;
	}

	section#features .row{
		margin-left: 30px;
		margin-right: 30px;
	}

	footer{
		padding-top: 30px;
	}

	footer section{
		width: 44%;
		margin-left: auto;
		margin-right: auto;
	}

	footer h2{
		margin-bottom: 0.75em;
	}

	footer .links{
		margin-top: 1.75em;
	}

	h1{font-size: 1.1em;}
	h2{font-size: 2em; margin-top: 0.85em;}
	h3{font-size: 1.45em;}
	p{font-size: 1em;}

}

/* -------------------------- Medium devices (desktops, 992px and up) -------------------------- */
@media (min-width: 992px) {
	
	div#photoBackground{
		height: 450px;
	}

	div#phoneContainer{

		width: 220px;
		height: 360px;
		margin-left: -110px;

		padding-top: 56px;
	}

	div#phoneContent{
		width: 192px;
		height: 344px;
		margin-left: -96px;
	}

	header #headerContent{
		width: 66.6666%;
	}

	img#appIcon{
		width: 90px;
		height: 90px;
		margin-top: -45px;
	}

	div.phone-shade{
		height: 70px;
	}

	section#features{
		padding: 2em 2em;
	}

	section#features article{
		margin: 3em 1em;

		flex: 1 0 15%;
	}

	section#features div{
		text-align: left;
	}

	footer{
		padding-top: 40px;
	}

	footer h2{
		font-size: 2em;
		margin-bottom: 0.5em;
	}
	
	h1{font-size: 1.2em;}
	h2{font-size: 2.25em; margin-top: 0.7em;}
	h3{font-size: 1.6em; margin-top: 1em;}
	p{font-size: 1.1em; line-height: 1.65em;}

}

/* -------------------------- Large devices (large desktops, 1200px and up) -------------------------- */
@media (min-width: 1200px) {
	
	div#photoBackground{
		height: 480px;
	}

	div#phoneContainer{

		width: 250px;
		height: 410px;
		margin-left: -125px;

		padding-top: 63px;
	}

	div#phoneContent{
		width: 218px;
		height: 392px;
		margin-left: -109px;
	}


	header{
		margin-top: -50px;
	}

	header #headerContent{
		width: 44%;
	}

	img#appIcon{
		width: 100px;
		height: 100px;
		margin-top: -50px;
	}

	div.phone-shade{
		height: 90px;
	}

	section#features article{
		margin-top: 4em;
		margin-bottom: 4em;
	}

	footer{
		padding-top: 50px;
	}

	footer h2{
		font-size: 2.2em;
		margin-bottom: 0.4em;
	}
	
	h1{font-size: 1.5em;}
	h2{font-size: 2.8em; margin-top: 0.5em;}
	h3{font-size: 1.8em;}
	p{font-size: 1.3em;}

}

